<!DOCTYPE html>
<html>
  <head>
    <title>Charting Library Ruby on Rails Demo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <%= yield %>
  </body>

  <script type="text/javascript" src="charting_library/charting_library.standalone.js"></script>
  <script type="text/javascript" src="datafeeds/udf/dist/bundle.js"></script>
  <%= javascript_include_tag "application" %>
</html>
